#logo
{
    width: 100px;
}

#titre
{
    position:relative ;
    left:240px;
    width:600px;
    top:-40px;
    text-transform: uppercase;
    font-weight:bold;
    font-size:20px;
    font-family:serif;
}

.etape .titre_etape
{
    width:100%;
    border-bottom: 1px solid black ;
    text-align:right;
    font-weight:bolder;
    font-style:italic;
    font-family:sans-serif;
	font-size:12px;
}
.etape .titre_etape .navigation
{
    color:red ;
    display:none;
}
.etape .item
{
    border-bottom: 1px solid #F7F7F7 ;
}

.etape .item .valeur
{
    /*display:inline;*/
    /* position: relative; */
    margin-left: 260px;
    font-family:Arial;
	font-size:11px;
    /* background-color: blue ;  */
}

.etape .item .barcode
{
    /*display:inline;*/
    /* position: relative; */

    /* background-color: blue ;  */
    margin-left: 200px;
    height: 70px;
    font-family:Arial;
    padding:0px;
	font-size:11px;
}

.etape .item .barcode img
{
    /*display:inline;*/
    /* position: relative; */

    /* background-color: blue ;  */
    height: 70px;
    margin: 0px;
    padding: 0px ;
    width: 250px;
}


.etape .item .libelle
{
    font-weight:bolder;
    /*width: 200px;*/
    /*display:inline;*/
    background-color: #F2F2F2;
	font-size:12px;

}

.etape .item .item_important
{
    position: relative;
    font-weight:bold;
    margin-left: 300px;
    font-family:Arial;
	font-size:12px;
}

.etape .item .item_tres_important
{
    position: relative;
    font-weight:bold;
    margin-left: 200px;
    font-family:Arial;
	font-size:12px;
    border-bottom: 1px solid #A7A7A7 ;
}