#formX table { width: 500px; border-collapse: collapse; border: 1px solid #006699; background: #FFFFFF;  }

/*#formX {z-index:150; position:absolute ; top: 50px; left:10px;}
#formX table { width: 645px; border-collapse: collapse; border: 1px solid #006699; background: #FFFFFF; margin-left:auto;margin-right:auto; }
*/